@import "foundation";

$bg: darken($secondary-color, 20%);
$radius: 3px;
$disabled: false;

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
}

.your-class-name {
  @include button-base;
  @include button-size;
  @include button-style($bg, $radius, $disabled);
}

#main-menu a {
  color: #fff;
}

ul.tags {
  line-height: 1.55em;
  margin-bottom: 1.3em;
  padding-top: 0.3em;
  list-style: none outside none;
  li {
    margin-bottom: 0.8em;
  }

  a:link, a:visited, a:hover, a:focus, a:active {
    background-color: #111;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    padding: 5px 9px 6px;
  }
  a:link .result-count, a:visited .result-count, a:hover .result-count, a:focus .result-count, a:active .result-count {
    color: #ccc;
    position: relative;
    left: 5px;
  }  
}

ul.socialaccount_providers {
  list-style: none outside none;
  li {
    display:inline;
    padding-right: 20px;
  }    
}

table.highlighttable {
 font-family: 'Source Code Pro', sans-serif;
}

#latest-recipes {
  list-style:none;
  li {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #eee;
  }
}

ul.snippet_list {
  list-style:none;
  li {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #eee;
  }
}

ul.search_results {
  list-style:none;
  li {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #eee;
  }
}

span.tag_item {
  a:link, a:visited, a:hover, a:focus, a:active {
    background-color: #111;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    padding: 5px 9px 6px;
  }
  a:link .result-count, a:visited .result-count, a:hover .result-count, a:focus .result-count, a:active .result-count {
    color: #ccc;
    position: relative;
    left: 5px;
  }  
}

