{% extends "base.html" %}
{% load static from staticfiles %}
{% load core_tags %}

{% block title %}About{% endblock %}

{% block content %}
  <h3>About</h3>
<p>Haskell cookbook is a site for sharing haskell code snippets, in the same vein as <a href="http://code.activestate.com/recipes/langs/python/">Python recipes</a>.</p>
<p>The site is <a href="https://github.com/aggrent/haskellcookbook.com">forked</a> <a href="https://github.com/aggrent/cab">from</a> <a href="http://djangosnippets.org/">django snippets</a> and uses a <a href="http://foundation.zurb.com/">Foundation</a> based theme for the frontend. The social icons used in login page are the courtesy of <a href="http://icondock.com/">Icondock</a>.</p>
<p><a href="http://epiceditor.com/">EpicEditor</a>, <a href="http://codemirror.net/">Pygments</a> and <a href="http://pygments.org/">CodeMirror</a> are the plugins used to add and edit code.
 Haskellcookbook is proudly hosted at <a href="https://www.openshift.com/">Openshift</a>.</p>
{% endblock %}

{% block sidebar %}
{% endblock %}
