{% extends "base.html" %}
{% load static from staticfiles %}
{% load core_tags %}

{% block title %}Home{% endblock %}

{% block content %}
<h1> {{ "cab.snippet"|call_manager:"count" }} recipe{{ "cab.snippet"|call_manager:"count"|pluralize }}.</h1>
<form method="get" action="/search/">
  <div class="row collapse">
    <div class="large-8 columns">
      <input type="text" name="q" id="id_q" value="{{ request.GET.q }}" placeholder="Search"/>
    </div>
    <div class="large-4 columns">
      <button class="small" type="submit">Search</button>
    </div>
  </div>
</form>

{% load cache %}
{% cache 600 homepage %}
<h3>Latest recipes</h3>
<ul id="latest-recipes">
  {% for snippet in "cab.snippet"|latest:10 %}
  <li><a href="{{ snippet.get_absolute_url }}">{{ snippet.title }}</a> by <a href="/users/{{ snippet.author.username }}/">{{ snippet.author.username }}</a> {{ snippet.pub_date|timesince }} ago</li>
  {% endfor %}
</ul>
{% endcache %}
{% endblock %}

{% block sidebar %}
<ul class="tags">
  {% for tag in "cab.snippet"|call_manager:"top_tags"|slice:":10" %}
  <li><a href="{% url "cab_snippet_matches_tag" tag.slug %}">{{ tag.name }}<span class="result-count">{{ tag.num_times }}</span></a></li>
  {% endfor %}
</ul>

<div class="panel">
  <p>Welcome to <a href="http://haskellcookbook.com/">Haskell Cookbook</a>, a site to share useful haskell code, called recipes.</p>
  <p>If you'd like to contribute, <a href="/accounts/login/?next={% ifequal request.path "/accounts/logout/" %}/{% else %}{{ request.path }}{% endifequal %}">sign up for a free account</a> and you'll be able to post your own recipes, rate and bookmark recipes, and post comments. If you've got any questions, <a href="mailto:badri.dilbert@gmail.com">drop a mail to the maintainer</a>.</p>

  <p><a rel="alternate" href="/feeds/latest/" type="application/atom+xml"><img src="{% static "img/rss.png" %}" alt="RSS" /> Feed of latest Recipes</a></p>
</div>

{% endblock %}
